SPRING_PROFILES_ACTIVE=sandbox
INTER_BASE_URL=https://cdpj-sandbox.partners.uatinter.co
INTER_CLIENT_ID=
INTER_CLIENT_SECRET=
INTER_CERTIFICATE_PATH=.certs/interapicertificado.crt
INTER_PRIVATE_KEY_PATH=.certs/interapi_chave.key
INTER_SCOPE="extrato.read boleto-cobranca.read pix.read"
INTER_CONNECT_TIMEOUT_SECONDS=10
